*.log
*.code-workspace
.vscode/*
**/.DS_Store
.idea
.vscode
node_modules
dist
server/dist/**
client/dist/**
delete_me_client/*
node_modules/*
**/node_modules/*
*/node_modules/*
**/node_modules/**
**/node_modules/**/*
private
.env
