<div class="cta flex">
    <div class="cta--background ">
        <div class="cta--background-inner"
            style="background-image: url('/static/images/home--marketing.jpg');">
        </div>
    </div>
    <div class="cta--text">
        <div class="cta--text-inner">
            <div class="cta--text-header">
                <h2 class="mdc-typography--headline2">
                    Understand your customers.
                </h2>
                <p class="mdc-typography--subtitle1">
                    Get a deeper understanding of your business from your customers' perspectives.  Action Tracker helps you predict ROI by delivering key insights.
                </p>
            </div>
            <div class="cta--text-button">
                <md-button href="/trial/" class="md-accent md-raised">
                    Start for Free
                </md-button>
            </div>
        </div>
    </div>
</div>
